<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.community.repository.DynamicPostRepository">

    <insert id="createDynamicTable" parameterType="com.spring.community.DTO.PostSaveDTO">

        CREATE TABLE IF NOT EXISTS post_${nickname} (
        post_id INT PRIMARY KEY AUTO_INCREMENT,
        user_id INT,
        nickname VARCHAR(255),
        category_id INT,
        title VARCHAR(255),
        content TEXT,
        view_count BIGINT DEFAULT 0,
        created_at DATETIME,
        updated_at DATETIME,
        image_url1 VARCHAR(255),
        image_url2 VARCHAR(255),
        image_url3 VARCHAR(255));

    </insert>

    <insert id="insertDynamicTable" parameterType="com.spring.community.DTO.PostSaveDTO">
        INSERT INTO post_${nickname}
        (user_id, nickname, category_id, title, content, image_url1, image_url2, image_url3, created_at, updated_at)
        VALUES
        (#{user.userId}, #{nickname}, #{postCategory.categoryId}, #{title}, #{content}, #{imageUrl1}, #{imageUrl2}, #{imageUrl3}, NOW(), NOW())

    </insert>

    <insert id="insertPostTable" parameterType="com.spring.community.DTO.PostSaveDTO">
        INSERT INTO post
        (user_id, nickname, category_id, title, content, image_url1, image_url2, image_url3, created_at, updated_at)
        VALUES
        (#{user.userId}, #{nickname}, #{postCategory.categoryId}, #{title}, #{content}, #{imageUrl1}, #{imageUrl2}, #{imageUrl3}, NOW(), NOW())

    </insert>


</mapper>